<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <a href="{% url 'blog_list' %}">Volver a la lista</a>
    <h1 style="color:#0c00b1">Acerca del proyecto</h1>
    <body>
        <p>El proyecto 'Blog-Entrega-Final' es un trabajo realizado para el curso Python de la institucion educativa CoderHouse.
            Fue realizado por Sebastian Marchi y Santiago Graiño, con el fin de ser utilizada como una plataforma donde las personas 
            puedan crear usuarios y escribir blogs acerca del tema que sea de su prefencia.</p>
    <p>El objetivo de este proyecto es ser entregado como trabajo final para el curso anteriormente nombrado, para ser calificado
        por el correspondiente profesor.</p>
    </body>
</html>